.showroom
{
    text-align: center;
    background-color: #93e4de;
    width: 100%;
    height: 100px;
    margin-bottom: 30px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h1
{
    margin-top: 0px;
    margin-bottom: 30px;
    font-size: 40px;
}

p{

    text-align: center;
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200px;
    font-style: normal;
    font-size: 24px;

}

body{
width: 100%;
height: 100%;
margin: 0;
}

h2{

    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    margin-top: 6px ;
    margin-bottom: 10px;
}

.store{

    background-color: #ad5ae9;
    padding-left: 16%;
    height: 800px;   
}

img{

    width: 300px;
    height: 200px;

}

#белый{
    background-color: white;
}

td{

    text-align: center;
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200px;
    font-style: normal;
    font-size: 24px;
}

td{
    height: 300px;
    width: 330px;
    border: 10px solid #ad5ae9;
}


